This document shows the libraries and modules required for running Fashify project. Make sure to install all these libraries/modules first and then run the project.

1. tensorflow 
2. numpy
3. os
4. tqdm
5. pickle
6. pillow
7. opencv-python
8. sklearn
9. streamlit


After installing all the required modules and libraries, inorder to run our web application, go to System Terminal/CMD (Windows) and reach to the Fashify Project Directory.
Once reached in the Fashify directory, type this command:

>> streamlit run main.py

